@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Fix alignment issues */
.container {
  max-width: 2200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Dark Mode Styles */
.dark {
  background-color: black;
  color: white;
}
